<!DOCTYPE html>
<html ng-app="ParkingApp"> <!-- Connection to Model -->
<head>
    <title>Parking App AngularJS</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    <script src="../../AngularSource/angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="model.js"></script>
    <style>
        #map{
            height: 500px;
            width: 500px;
        }
    </style>
</head>
<body ng-controller="ParkingCtrl"> <!-- Connection to Controller -->
    <button ng-click="loadMap()">Load Map</button>
    <div id="map"></div>

    <script>
        
       

    </script>
    <table>
        <tr>
            <th>ID</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        <!-- <tr ng-repeat=" item in parking.data.features"> 
            <td>{{item.properties.OBJECTID}} </td> 
            <td>{{item.properties.LATITUDE}} </td>
            <td>{{item.properties.LONGITUDE}}</td>
        </tr> -->
    </table>
</body>
</html>