<!DOCTYPE html>
<html ng-app="ParkingApp"> <!-- Connection to Model -->
<head>
    <title>Parking App AngularJS</title>
    <link rel="stylesheet" href="../../leaflet/leaflet.css" />
    <script src="../../leaflet/leaflet.js"></script>
    <script src="../../AngularSource/angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="model.js"></script>
    <style>
        #map{
            height: 500px;
            width: 500px;
        }
    </style>
</head>
<body ng-controller="ParkingCtrl"> <!-- Connection to Controller -->
    <button ng-click="loadMap()">Load Map</button>
    <button ng-click="loadParking()">Load Parking</button>
    <div id="map"></div>

    <script>
        
       

    </script>
    <table>
        <tr>
            <th>ID</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        <!-- <tr ng-repeat=" item in parking.data.features"> 
            <td>{{item.properties.OBJECTID}} </td> 
            <td>{{item.properties.LATITUDE}} </td>
            <td>{{item.properties.LONGITUDE}}</td>
        </tr> -->
    </table>
</body>
</html>